@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  font-family: 'Open Sans', sans-serif;
}

.avatar{
    border-radius: 50%; 
    float: right; 
    margin-right: 1em;
}

body{
    padding: 0;
    margin: 0;
}

header {
    margin: auto;
    height: 50px;
    background: #000;
    color: #fff; 
    padding: 0 .5rem 0 1rem;
}

header .logo{
    line-height: 50px;
    font-weight: bold;
}

nav{
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li{
    display: inline;
}

nav ul li a,
nav ul li a:link,
nav ul li a:visited{
    display: inline-block;
    color: #fff;
    line-height: 50px;
    text-decoration: none;
    padding: 0 .5rem;
}

nav ul li a:hover{
    background: #444;
}
h1 {
    text-align: center;
}
.flex-container {
    justify-content: center;
    display: flex;
    text-align: center;
    align-content: center;
  }

main{
    text-align: center;
    /* Use a margin to center the page */
    margin: 0 auto;
    /* Set the width of the content */
    width: 960px;
    /* For smaller screens to not exceed the max screen width */
    max-width: 100%;
}

#toggleMenu{
    display: none;
}
.col {
    padding: .5rem;
  
    /* debug */
    border: 1px solid #990000;
    background: #fff;
  }

  .col-3{
    @extend .col;
    flex: 25% 0 0;
  }
  
  .col-2{
    @extend .col;
    flex: 16.6666666% 0 0;
  }

 #container {
    width: 600px;
    margin: auto;
}
  #first {
    width: 300px;
    float: left;
    height: 300px;
    background-color: white;
}
#second {
    width: 300px;
    float: right;
    height: 300px;
    background-color: white;
}


@media only screen and (max-width: 960px)  {
    nav {
            display:none;
    }
    #toggleMenu {
          display: block;
          float: right;
          line-height: 50px;
    }
    nav {
        position: absolute;
        display: none;
        background: #000;
        top: 50px;
        left: 0;
        right: 0;
        opacity: 0.5;
    }
  
    nav ul li a,
    nav ul li a:link,
    nav ul li a:visited{
      display: block;
      border-bottom: 1px solid #777;
    }
}
